.app-content {
  width: 650px;
  margin-top: 100px;
  padding: 40px;
  border: 1px solid black;
}

.control-row {
  margin-bottom: 3px;
}

@media(max-width: 650px){
  .app-content {
    margin: 20px 20px 0;
    width:auto;
  }
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.unaryButton {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2px;
}

.timerDisplay {
  background-color: grey;
  padding: 30px;
  text-align: center;
  margin: 60px;
  height: 100px;
  width: 400px;
}
