html body {
  height: 100%;
  margin: 0;
  background: #d31027;
  background: -webkit-linear-gradient(to right, #ea384d, #d31027);
  background: linear-gradient(to right, #ea384d, #d31027);
}

input[type="number"] {
  color: #d31027;
}
input[type="number"]:focus {
  color: #000;
}
